html,
body {
  margin: 0;
  background: #fff;
  font-family: "IM Fell English SC", serif;
}

main {
  margin-bottom: 40px;
  border-bottom: 1px solid #bcc0c0;
  padding-bottom: 40px;
}

header h1 {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-weight: 100;
}

.group-first:before,
.group-first:after {
  content: " ";
  display: table;
}

.group-first:after {
  clear: both;
}

.group-first {
  *zoom: 1;
  width: 300px;
  height: 600px;

  margin-left: 60px;
  /* border: 5px solid #75d1d0; */
  background: #bcc0c0;

  border-radius: 12px;
}

img {
  width: 300px;
  height: 350px;
  border-radius: 5px;
  border-bottom: 2px solid #333;
}

h2 {
  color: #0b504f;
  margin-left: 20px;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 20px;
}

.reg {
  font-size: 25px;
  margin-bottom: 10px;
}

.group-second:before,
.group-second:after {
  content: " ";
  display: table;
}

.group-second:after {
  clear: both;
}

.group-second {
  *zoom: 1;
  width: 300px;
  height: 600px;
}
.group-second {
  position: absolute;
  top: 124.2px;
  left: 430px;
  background: #bcc0c0;
  border-radius: 12px;
}

.group-second h2 {
  color: #b30d0d;
}

.reg em {
  float: right;
  margin-right: 20px;
}

.group-three:before,
.group-three:after {
  content: " ";
  display: table;
}

.group-three:after {
  clear: both;
}

.group-three {
  *zoom: 1;
  width: 300px;
  height: 600px;
}

.group-three {
  position: absolute;
  top: 124.2px;
  left: 810px;
  background: #bcc0c0;
  border-radius: 12px;
}

.group-four:before,
.group-four:after {
  content: " ";
  display: table;
}

.group-four:after {
  clear: both;
}

.group-four {
  *zoom: 1;
  width: 300px;
  height: 600px;
}

.group-four {
  position: absolute;
  top: 124.2px;
  right: 60px;
  background: #bcc0c0;
  border-radius: 12px;
}

.group-four h2 {
  color: #b30d0d;
}

.group-footer:before,
.group-footer:after {
  content: " ";
  display: table;
}

.group-footer:after {
  clear: both;
}

.group-footer {
  *zoom: 1;
}

.group-footer {
  height: 180px;
  width: 600px;
}

.group-footer img {
  width: 150px;
  height: 140px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 40px;
}

.group-footer p {
  text-decoration: none;
  position: relative;
  bottom: 210px;
  left: 186px;
}

.group-footer h2 {
  text-decoration: none;
  position: relative;
  bottom: 180px;
  left: 190px;
}

.group-footer a {
  text-decoration: none;
}

.group-footer h3 {
  display: block;
  position: relative;
  bottom: 60px;
  left: 40px;
}

.button {
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

.button a {
  text-decoration: none;
  padding: 20px;

  /* background: #fd3b3b url("../img/twitter.png") 7px 50% no-repeat; */

  background: url("../img/icons.png") 7px 20px no-repeat,
    linear-gradient(to bottom, #fd3b3b 20%, #c92626 76%);

  padding-left: 33px;
  color: #fff;
  border-radius: 10px;
}

.button a:hover {
  color: #0b504f;
}
